
# **Tuples in Python**

A **Tuple** in Python is an **ordered, immutable collection** of items.

* Defined using **parentheses `( )`**.
* Can store **different data types** (numbers, strings, lists, etc.).
* Tuples can **contain duplicate values**.


## âœ… **Characteristics of Tuples**

* **Ordered** â†’ Items have an index (like lists).
* **Immutable** â†’ Cannot be changed once created.
* **Heterogeneous** â†’ Can contain different data types.
* **Allow duplicates**.
* **Faster than lists** (since immutable).

#####

### Creating a Tuple

In [1]:
# Creating tuples
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)
mixed = (1, "hello", 3.14, True)

In [2]:
t = (10, 20, 30, 20)
print(t[0])   # 10
print(t[-1])  # 20
print(t[1:3]) # (20, 30)

10
20
(20, 30)

### Type

In [3]:
print(type(t))

<class 'tuple'>

### Count- How many times an element occur in the tuple

In [4]:
t1=(1,2,3,4,5,6,1)   #How many times 1 occur in the tuple
t1.count(1)

2

### Index

In [5]:
t1.index(2)         #2 is in first place as indexing starts from 0

1

### Contatenation- Adding

In [6]:
t3=(1,2,3,4,5,6,5,9,1)
t3 +(100,200)

(1, 2, 3, 4, 5, 6, 5, 9, 1, 100, 200)

### Length

In [7]:
# CONCATENATION - adding
t3=(1,2,3,4,5,6,5,9,1)
len(t3)

9

### Accessing tuple

In [8]:
t3=(1,2,3,4,5,6,5,9,1)
print(t3[2])

3

In [9]:
print(t3[-2])

9

### Range of Indexing

In [10]:
print(t3[2:6])      #Last element will not be included

(3, 4, 5, 6)

### Checking whether the item is existed in list or not

In [11]:
t3=(1,2,3,4,5,6,5,9,1)
if 5 in t3:
    print("Yes 5 is present in t3")

Yes 5 is present in t3


## âœ… **Single Element Tuple**

To create a tuple with **one item**, add a trailing comma `,`.

In [12]:
t1 = (5,)  
print(type(t1))  # <class 'tuple'>

t2 = (5)        
print(type(t2))  # <class 'int'>

<class 'tuple'>
<class 'int'>

## âœ… **Tuple Operations**

In [13]:
a = (1, 2, 3)
b = (4, 5)

print(a + b)     # Concatenation â†’ (1, 2, 3, 4, 5)
print(a * 2)     # Repetition â†’ (1, 2, 3, 1, 2, 3)
print(2 in a)    # Membership â†’ True
print(len(a))    # Length â†’ 3

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
True
3

## âœ… **Tuple Methods**

Tuples have **limited methods** (since immutable).

In [14]:
nums = (10, 20, 30, 20, 40)

print(nums.count(20))   # 2
print(nums.index(30))   # 2

2
2

### Convert Tuple into list

In [14]:
t3=(1,2,3,4,5,6,5,9,1)
t4=list(t3)
t3=tuple(t4)
print(t3)
print(t4)

(1, 2, 3, 4, 5, 6, 5, 9, 1)
[1, 2, 3, 4, 5, 6, 5, 9, 1]

### Append -Tuple has no attribute of append, so first we need to convert tuple into list and then add elements

In [19]:
t3=(1,2,3,4,5,6,5,9,1)
t4=list(t3)
t4.append(0) 
print(t4)

[1, 2, 3, 4, 5, 6, 5, 9, 1, 0]

### Delete

In [15]:
t3=(1,2,3,4,5,6,5,9,1)
del t3   #this will through that there is no t3
print(t3)

NameError: name 't3' is not defined

## âœ… **Nested Tuples**

In [16]:
nested = ((1, 2), (3, 4), (5, 6))
print(nested[1])    # (3, 4)
print(nested[1][0]) # 3

(3, 4)
3

## âœ… **Tuple Packing and Unpacking**

In [17]:
# Packing
person = ("Alice", 25, "Engineer")

# Unpacking
name, age, job = person
print(name)  # Alice
print(age)   # 25
print(job)   # Engineer

Alice
25
Engineer


## âœ… **Why Tuples Instead of Lists?**

* **Immutability** â†’ Prevents accidental changes.
* **Performance** â†’ Tuples are faster than lists.
* **Hashable** â†’ Tuples can be used as **dictionary keys** (lists cannot).

In [18]:
my_dict = {("x", 1): "point A", ("y", 2): "point B"}
print(my_dict[("x", 1)])  # point A

point A

### By using *- Asterisk

In [23]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

### Loop through Tuple

In [24]:
t5= ("apple", "banana", "cherry")
for x in t5:
  print(x)

apple
banana
cherry

---

## ðŸ“Œ **Quick Recap**

* Tuples are **ordered but immutable**.
* Allow indexing, slicing, and nesting.
* Limited methods: **count()** and **index()**.
* Useful for **fixed collections of items** and when **speed & safety** are important.

---

###