

# **Sets in Python**

A **Set** in Python is an **unordered, mutable collection** of unique items.

* Defined using **curly braces `{ }`** or the `set()` function.
* **Duplicates are not allowed**.
* Sets are mostly used for **mathematical operations** like union, intersection, and difference.

---

## ‚úÖ **Characteristics of Sets**

* **Unordered** ‚Üí No fixed position or index.
* **Mutable** ‚Üí Can add or remove elements.
* **Unique elements** ‚Üí Duplicates are automatically removed.
* **Heterogeneous** ‚Üí Can store different data types.
* **Not indexable** ‚Üí You can‚Äôt access items with `[ ]` like lists/tuples.

### Creating Sets

In [1]:
# Creating sets
fruits = {"apple", "banana", "cherry"}
numbers = {1, 2, 3, 4, 5}
mixed = {1, "hello", 3.14, True}

In [4]:

# Using {}
animals = {"dog", "cat", "tiger"}

# Using set() function
empty_set = set()   # Correct way
wrong_set = {}      # This creates an empty dictionary, not a set

### Type

In [2]:
print(type(fruits))

<class 'set'>

In [3]:
myset = {1, 2, 2, 3, 4}
print(myset)  # {1, 2, 3, 4} (duplicate removed)

{1, 2, 3, 4}


## ‚úÖ **Adding and Removing Items**

In [5]:
s = {1, 2, 3}

s.add(4)         # Add one element
s.update([5, 6]) # Add multiple elements
print(s)

{1, 2, 3, 4, 5, 6}

In [6]:
s.remove(2)      # Remove (error if not found)
s.discard(10)    # Remove (no error if not found)
s.pop()          # Remove a random item
s.clear()        # Empty the set

### Update 
* Update the set with the union of this set and others

In [8]:
s2={30,42,58}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 42, 20, 58, 30}

In [9]:
list(s1)

[1, 2, 3, 4, 5, 6, 42, 20, 58, 30]

### Sorting- sort()

In [10]:
l1=list(s1)
l1.sort()
print(l1)

[1, 2, 3, 4, 5, 6, 20, 30, 42, 58]

### Looping through sets

In [11]:
for x in s1:
    print(x)

1
2
3
4
5
6
42
20
58
30

## ‚úÖ **Set Operations (Mathematical)**

### Union 
* Joining sets

In [1]:
s3={1,30,4,58}
s4={20,42,30}
print(s3.union(s4))
print(s3)
print(s4)

{1, 4, 42, 20, 58, 30}
{1, 58, 4, 30}
{42, 20, 30}

### Intersection 
* Intersection of two other sets

In [2]:
print(s3.intersection(s4))

{30}

In [3]:
s3={1,30,4,58}
s4={20,42,30,4}
print("elements in s3 before union:",s3)
print(s3.intersection_update(s4))
print("elements in s3 after intersection_upddate:",s3)

elements in s3 before union: {1, 58, 4, 30}
None
elements in s3 after intersection_upddate: {4, 30}

In [4]:
s3={1,30,4,58}
s4={20,42,30,4}
print("elements in s3 intersection:",s3)
print(s3.intersection(s4))
print("elements in s3 after intersection:",s3)

elements in s3 intersection: {1, 58, 4, 30}
{4, 30}
elements in s3 after intersection: {1, 58, 4, 30}

### Difference 
* Difference between two or more sets

In [5]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
set3-set4

{1, 5}

In [6]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
print("elements of set3 before difference:",set3)
set3.difference(set4)
print("elements of set3 after difference:",set3)

elements of set3 before difference: {1, 2, 3, 4, 5, 6}
elements of set3 after difference: {1, 2, 3, 4, 5, 6}

In [7]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
print("elements of set3 before difference:",set3)
print((set3.difference(set4)))
print("elements of set3 after difference:",set3)

elements of set3 before difference: {1, 2, 3, 4, 5, 6}
{1, 5}
elements of set3 after difference: {1, 2, 3, 4, 5, 6}

In [8]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
print("elements of set3 before difference_update:",set3)
set3.difference_update(set4)
print("elements of set3 after difference_update:",set3)

elements of set3 before difference_update: {1, 2, 3, 4, 5, 6}
elements of set3 after difference_update: {1, 5}

In [8]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print(a.union(b))        # {1, 2, 3, 4, 5, 6}
print(a.intersection(b)) # {3, 4}
print(a.difference(b))   # {1, 2}
print(a.symmetric_difference(b)) # {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

### Disjoint set
* Two sets having no common element between them.
* Disjoint ‚Üí Just checks if sets have no overlap (True/False).
* Symmetric Difference ‚Üí Returns a new set with elements that are not shared.

In [9]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
set3.isdisjoint(set4)

False

In [10]:
s5={10,20,30,40}
s6={11,12,1,3,14}
s5.isdisjoint(s6)

True

### Shortcut operators:

* `a | b` ‚Üí Union
* `a & b` ‚Üí Intersection
* `a - b` ‚Üí Difference
* `a ^ b` ‚Üí Symmetric Difference

#####

### Remove 
* REmoves the element from set

In [12]:
set3={1,2,3,4,5,6}
set3.remove(2)
print(set3)

{1, 3, 4, 5, 6}

In [14]:
set3={1,2,3,4,5,6}
set3.discard(5)
print(set3)

{1, 2, 3, 4, 6}

### Pop()
* Removes the last element of set

In [17]:
set3={1,2,3,4,5,6}
set3.pop()
print(set3)

{2, 3, 4, 5, 6}

In [18]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

### Clear
* Clears the elements in set

In [20]:
set3={1,2,3,4,5,6}
set3.clear()
set3

set()

### Delete
* Deletes the entire set

In [22]:
del set3

---
## ‚úÖ **Set Membership**

In [9]:
fruits = {"apple", "banana", "cherry"}

print("apple" in fruits)   # True
print("grape" not in fruits) # True

True
True

---
## ‚úÖ **Frozen Set (Immutable Set)**

* A **frozenset** is like a set, but **immutable** (cannot be changed).
* Useful as **dictionary keys** or when immutability is required.

In [13]:
fs = frozenset([1, 2, 3, 4])
print(fs)

# fs.add(5) ‚Üí ‚ùå Error (not allowed)

frozenset({1, 2, 3, 4})

### Looping through Sets

In [24]:
set3={1,2,3,4,5,6}
for x in set3:
    print(x)

1
2
3
4
5
6

---

## üìå **Quick Recap**

* **Set** ‚Üí unordered, mutable, unique items.
* Supports **union, intersection, difference** operations.
* Cannot be indexed or sliced.
* **Frozenset** ‚Üí immutable version of a set.

---

##